/* 表格设置 */
#tb,tr,th,td{
		text-align: center;
}

#tb{
	border-collapse: collapse;
	 
}
#viewport {
    width: 100%;
}

.sec1{
	text-align: center;
}

.sec1 p{
	color: #999999;
	font-weight: 700;
	margin-bottom: 0px;
}

.sec{
	background-color:#fff;
	position:relative;
	border-radius:.625rem;
	
	margin:1rem 0 1.5rem;
	padding:10px 14px 30px;
}
/*section{
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}*/



.VirusSummarySix_1-1-257_3Y7tso .VirusSummarySix_1-1-257_1jV1Z5 {
    display: inline-block;
    width: 1.625rem;
    height: 1rem;
    background-image: url(//mms-res.cdn.bcebos.com/mms-res/voicefe/captain/mola/Virus/1.1.257/assets/trumpet.985bf93.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.tex {
    position: relative;
    margin-top: 8px;
    padding-left: 17px;
    font-size: 1.5rem;
    height: 1.5rem;
    max-width: 100%;
    line-height: 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
}



html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/*黑色标题*/
.jtdq_title{
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

/*国内外具体地区表格数据*/
.jtdq_table{
	table-layout: fixed;
	width: 100%;
	margin-top: 2px;
	text-align: center;
	border-spacing: 0 .3125rem;
	font-size: .8125rem;
	color: #4d5054;
}

.jtdq_table thead tr {
    line-height: 1;
}

.table_head{
    color: #555;
    font-size: .75rem;
    font-weight: 700;
    height: 2.0625rem;
}

.tri_angle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../img/triangle.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
}

.table_body{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    color: #555;
}

tr.table_body_1:active{
	background-color:#eee
}
.name {
    width: auto!important;
    color: #cc0505;
    min-height: 1.875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .53125rem 0;
    line-height: 1.25rem;
    box-sizing: border-box;
    padding-left: .5rem;
    font-weight: 700;
}